// Buttons

.btn {
  border: none;
  padding: 0.45rem 0.8rem;
  border-radius: $radius;
  background: transparent;
  font-size: $fntS-4;
  cursor: pointer;
  transition: $transition;
  font-family: 'Poppins', sans-serif;

  svg {
    color: $primary;
  }
}

.btn-overview {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  padding: 0 !important;
  gap: 1rem;
  transition: $transition;

  p,
  svg {
    color: #fff;
    transition: $transition;
  }

  &:first-child {
    background: $clr-red-1;
  }

  &:last-child {
    background: $clr-dark-blue;
  }

  &:hover {
    background: $secondary;
    p,
    svg {
      color: $primary;
    }
  }
}

.btn-modal {
  margin-left: calc(100% - 2rem);
  svg {
    font-size: $fntS-5;
  }
}

.btn-footer {
  display: inline-block;
  width: 200px;
  background: #fff;
  text-align: center;
  margin: 0.5rem 0;
  margin-left: 15px;
  border: $border-size solid transparent;

  &:hover {
    border: $border-size solid #fff;
    background: $clr-blue-3;
    color: #fff;
    transform: scale(1.1);
  }
}

.btn-empty {
  display: block;
  background: $primary;
  margin: 2rem auto 0 auto;
  color: #fff;
  border: $border-size solid transparent;

  &:hover {
    background: $clr-grey-8;
    border: $border-size solid $primary;
    color: $primary;
  }
}
