// Buttons

.btn {
  border: none;
  padding: 0.45rem 0.8rem;
  border-radius: $radius;
  background: transparent;
  font-size: $fntS-4;
  cursor: pointer;
  transition: $transition;
  font-family: 'Poppins', sans-serif;

  svg {
    color: $primary;
  }
}

.btn-overview {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  padding: 0 !important;
  gap: 1rem;
  transition: $transition;

  p,
  svg {
    color: #fff;
    transition: $transition;
  }

  &:first-child {
    background: $clr-red-1;
  }

  &:last-child {
    background: $clr-dark-blue;
  }

  &:hover {
    background: $secondary;
    p,
    svg {
      color: $primary;
    }
  }
}

.btn-modal {
  margin-left: calc(100% - 2rem);
  svg {
    font-size: $fntS-5;
  }
}

.btn-footer {
  display: inline-block;
  width: 200px;
  background: #fff;
  text-align: center;
  margin: 0.5rem 0;
  margin-left: 15px;
  border: $border-size solid transparent;

  &:hover {
    border: $border-size solid #fff;
    background: $clr-blue-3;
    color: #fff;
    transform: scale(1.1);
  }
}

.btn-empty {
  display: block;
  background: #f4f4f4;
  margin: 2rem auto 0 auto;
  color: $primary;
  border: $border-size solid transparent;

  &:hover {
    border: $border-size solid #fff;
    color: #fff;
    background: transparent;
  }
}

.btn-scrollTop {
  background: $primary;
  position: fixed;
  right: -50px;
  bottom: 50px;
  z-index: 100000;
  padding: 1.2rem;

  svg {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-cart-header {
  border-radius: $radius-sm;
  border: $border-size solid #000;
  width: 200px;

  &:hover,
  &:focus {
    @include clearBtnHover;
  }
}

.btn-cart-remove {
  position: absolute;
  top: 16px;
  right: 10px;
}

// .btn-custom-radio {
//   border-radius: 50%;
//   margin-right: 0.5rem;

//   // input {
//   //   opacity: 0;
//   //   width: 25px;
//   //   height: 25px;
//   // }
// }
