// Mixins

// Position absolute center
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Borders
@mixin border-sm {
  border: rgba(#000, 0.15) 1px solid;
}
@mixin border-md {
  border: rgba(#000, 0.15) 2px solid;
}
@mixin border-lg {
  border: rgba(#000, 0.15) 3px solid;
}

// Shadows
@mixin shadow-sm {
  box-shadow: 5px 5px 10px 0 rgba(#000, 0.15);
}
@mixin shadow-md {
  box-shadow: 8px 8px 12px 0 rgba(#000, 0.15);
}
@mixin shadow-lg {
  box-shadow: 13px 13px 15px 0 rgba(#000, 0.15);
}

@mixin primary-gradient {
  background: linear-gradient(
    to right,
    rgba($clr-blue-2, 0.7),
    rgba($clr-blue-4, 0.7)
  );
}

// Inputs
@mixin inputFocus {
  transition: $transition;
  border: $border-size transparent solid;

  &:hover,
  &:focus {
    border: $border-size $primary solid;
    color: $primary;
    outline: none;

    &::placeholder {
      color: $primary;
    }
  }
}

@mixin invertInputFocus {
  transition: $transition;
  border: $border-size transparent solid;

  &:hover,
  &:focus {
    border: $border-size #fff solid;
    color: #fff;
    outline: none;
    background: transparent;

    // &::placeholder {
    //   color: $primary;
    // }
  }
}

// Custom input outline
@mixin inputOutline {
  outline: 1px solid $primary;
}
