// Mixins

@mixin inputFocus {
  transition: $transition;
  border: $border-size transparent solid;

  &:hover,
  &:focus {
    border: $border-size $primary solid;
    color: $primary;

    &::placeholder {
      color: $primary;
    }
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin border-sm {
  border: rgba(#000, 0.15) 1px solid;
}
@mixin border-md {
  border: rgba($clr-grey-7, 0.15) 2px solid;
}
@mixin border-lg {
  border: rgba($clr-grey-7, 0.15) 3px solid;
}

@mixin shadow-sm {
  box-shadow: 5px 5px 10px 0 rgba(#000, 0.15);
}
