// Typography

.section-header {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
  position: relative;

  h3 {
    color: $primary;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: $primary;
    height: 2px;
    width: 70px;
  }
}

.lead {
  font-size: $fntS-5;
}

@media screen and (max-width: $lg) {
  .lead {
    font-size: $fntS-4;
  }
}

.login-content-error {
  color: $clr-red-1;
  margin: 0.2rem 0;
  padding: 5px;
  background: #f4f4f4;
  text-align: left !important;
  border-radius: $radius-sm;
}
