// Header/Carousel

.carousel {
  width: 100%;
  height: 65vh;
  color: #fff;
  text-align: center;

  &-slide {
    position: relative;

    span {
      text-transform: capitalize;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(#000, 0.55);
      border-radius: $radius;
      padding: 1.5rem;

      p {
        font-size: 2rem;
      }

      h2 {
        font-size: 4rem;
        text-align: center;
      }
    }

    img {
      position: absolute;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      top: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: $xxl) {
  .carousel {
    &-slide span {
      width: 70%;

      p {
        font-size: $fntS-5;
      }
      h2 {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .carousel {
    height: 45vh;

    &-slide {
      span {
        p {
          font-size: $fntS-4;
        }
        h2 {
          font-size: $fntS-5;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .carousel {
    height: 45vh;

    &-slide {
      span {
        p {
          font-size: $fntS-3;
        }
      }
    }
  }
}
