// Navbar

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 1.5rem;
  align-items: center;
  background: $secondary;
  z-index: 15;

  &-search {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: $radius;
    border: $border-size #000 solid;
    transition: $transition;

    input {
      font-size: $fntS-3;
      width: 100%;
      background: transparent;
      outline: none;
    }

    svg {
      font-size: $fntS-5;
      color: #000;
      transition: $transition;
    }

    &:hover {
      border-color: $primary;
      svg {
        color: $primary;
      }
    }
  }

  &-links {
    display: flex;

    a {
      margin-left: 1.5rem;
      color: #000;
      font-size: 1.5rem;
      transition: $transition;
      position: relative;

      &:hover {
        color: $primary;

        .badge {
          background: $clr-grey-1;
        }
      }
    }

    a.iconScale:hover {
      transform: scale(1.5);
    }
  }
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: $fntS-2;
  border-radius: 50%;
  background: $primary;
  padding: 1px 5px;
  color: #fff;
  transition: $transition;
}

@media screen and (max-width: $md) {
  .navbar {
    &-links {
      a {
        // margin-left: 1.2rem;
        font-size: $fntS-4;
      }
      a.iconScale:hover {
        transform: scale(1.3);
      }
    }
  }
}
